.section-title{
    margin-bottom:50px;
}

.tskill{
    color: rgb(247,150,70);
    font:1000 10px 'callibri', sans-serif;
    font-variant: small-caps;
}

h3{
    margin-left:-25px;    
    color: rgb(127,127,127);
}
h3::before{
    width:.5em;
    height:.5em;
    background: rgb(247,150,70);
    display: inline-block;
    content:"";
    margin-right: 10px;
}