<div class="section-title">
    <h2>Resume</h2>
</div>
<div class="res-section">
    <h3>Profile:</h3>
    <p>{{ myResume.Profile }}</p>    
</div>
<div class="res-section">
    <h3>Technical Skills</h3>    
    <div *ngFor="#skill of myResume.Skills" class="row">
        <div class="col-xs-2">
            <p class="tskill">{{skill.Category}}</p>
        </div>
        <div class="col-xs-10">
            <p>{{skill.Expertise}}</p>
        </div>
    </div>
</div>
<div class="res-section">
    <h3>Professional History</h3>
    <div *ngFor="#work of myResume.EmploymentHistory" class="row">
        <div class="col-xs-12">
            <p><strong>{{work.Company}}</strong> <span class="pull-right">{{work.Dates}}</span><br /><strong>{{work.Title}}</strong></p>
            <p>{{work.Description}}</p>        
            <ul>
                <li *ngFor="#accomplishment of work.Accomplishments">
                    {{accomplishment}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="res-section">
    <h3>Education</h3>
    <div *ngFor="#school of myResume.EducationHistory" class="row">
        <div class="col-xs-12">
            <p><strong>{{school.Degree}}</strong> <span class="pull-right">{{school.School}}</span></p>            
            <ul>
                <li *ngFor="#accomplishment of school.Accomplishments">
                    {{accomplishment}}
                </li>
            </ul>
        </div>
    </div>
</div>